h4{
  text-align: center;
  color: rgb(6, 6, 6) !important;
}
section{
  margin: 20px;
}
.select2-container--default .select2-selection--single {
  border-radius: 5px;

  height: auto; /* Deja que la altura se ajuste automáticamente */
  padding: 15px; /* Igual que tu estilo original */
}

/* Fija la altura mínima para el <h6> en cada columna */
.col-md-4 h6 {
  min-height: 2.5em; /* Asegura que todas las cabeceras ocupen el mismo espacio */
}

h5{
  text-align: justify; /* Justifica el texto */
  font-size:medium;
  color: rgba(0, 0, 0, 0.529);
}
h6{
  text-align: justify; /* Justifica el texto */
  color: rgba(0, 0, 0, 0.529);
}
.dias_p{
  border-radius: 5px;
  width: 100%;
  background-color: white;
  padding: 15px; 
}